.contenido-shop{
    border: 1px solid #c4c4c4;
    border-radius: 1em;
    height: 80%;
    margin: 1em 0;
    background: #000000 ;
    overflow-y: auto;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
    
  }
  
  .item {
    width: 200px;
    margin: 10px;
  }
  
  .item img {
    width: 100%;
    height: auto;
  }

  .product {
    width: 100%;
    height: auto;
  }

/* 
.product1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.product2 {
    display: flex;
    align-items: right;
    margin-bottom: 40px;
    margin-left: 300px;
}

.product3 {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.product4 {
    display: flex;
    align-items: center;
    margin-bottom:80px;
} */